/* Estilos de los encabezados */
section{
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;

	height: 35rem;
}

.encabezados{
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 1200px;
	margin-bottom: 20px;
	padding: 10px;

	color: blueviolet;
	background-color: rgb(214, 214, 214);
}

.encabezados div{
	flex-grow: 1;
}

#grande{
	flex-grow: 3;
}

.encabezados h3 ~ h3{
	font-size: 25px;

	color: black;
}

.logo{
	height: 50px;
}

nav{
	display: inline;
}
